.overlay {
    position: fixed;
    inset: 0;
    background: rgba(59, 47, 47, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal {
    background-color: #FFFCF8;
    padding: 30px;
    border-radius: 7px;
    position: relative;
}

.close {
    position: absolute;
    border: 2px solid #FFFCF8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -25px;
    right: -30px;
    cursor: pointer;
    background-color: #FFFCF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 380px;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.divFields{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputFields{
    background-color: #EADAC0;
    border: 1px solid #e4c594;
    height: 43px;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    color: #3b2f2f;
}

.inputFields:focus {
    outline: none;
    border-color: #c76146;
}

.btnAuth{
    background-color: #c76146;
    height: 43px;
    color: #FFFCF8;
    border-radius: 7px;
    margin-top: 12px;
}

.dopInfo{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.linkBtn{
    color: #3b2f2f;
    text-decoration:underline;
    text-decoration-thickness: 1.5px;
}

.passwordDiv{
    position: relative;
    display: flex;
    align-items: center;
}

.eyeBtn{
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #3b2f2f;
    display: flex;
    align-items: center;
}

.passwordField{
    width: 100%;
    padding: 0 35px 0 10px;
}

.formError{
    display: flex;
    justify-content: center;
    color: #c76146;
}

.formErrorHidden{
    display: none;
}