@font-face {
  font-family: "NunitoBold";
  src: url("../../../public/fonts/Nunito/Nunito-Bold.ttf");
  font-display: swap;
}

.bookFilter {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filterBox{
  padding: 15px;
  border-radius: 7px;
  border: 2px solid #EADAC0;
}

.headLineLabel{
  font-family: NunitoBold;
    margin-bottom: 6px;
}

.bookFilter label {
  display: block;
}

.checkboxGroup {
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.checkboxGroup label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkboxGroup input {
  accent-color: #C76146;
  cursor: pointer;
}

.bookFilter button {
    color: #C76146;
    border: 2px solid #C76146;
    border-radius: 7px;
    padding: 0px 20px;
    height: 50px;
    background-color: #FFFCF8;
}

.rangeWrapper {
  position: relative;
  height: 50px;
}

.rangeTrack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background: #8a8988;
  border-radius: 5px;
}

.rangeFill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #C76146;
  border-radius: 5px;
}

.rangeWrapper input[type="range"] {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  appearance: none;
  background: none;
  margin: 0;
  padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #C76146;
  cursor: pointer;
  border: 2px solid #FFFCF8;
  box-shadow: 0 0 0 1px #ccc;
  margin-top: 0;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}