.bookList {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.bookListWithFilters {
  gap: 50px;
}

@media (max-width: 1100px){
  .bookListWithFilters {
    column-gap: calc(100% - 400px);
    row-gap: 50px;
  }
}