.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.cardImg{
    width: 200px;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rating{
    color: #ebc83b;
    display: flex;
    align-items: center;
    margin-top: 10px;
    column-gap: 5px;
}

.title{
    margin-top: 10px;
}

.author{
    margin-top: 5px;
    color: #4b4a48;
    font-size: 14px;
}

.btns_price{
    padding-top: 10px;
    margin-top: auto;
}

.price{
    font-size: 20px;
}

.btns {
    margin-top: auto;
    padding-top: 15px; 
    display: flex;
    column-gap: 10px;
}

.newFlag {
    position: absolute;
    top: 10px;      /* отступ сверху */
    right: 10px;    /* отступ справа */
    background-color: #008308;
    color: #FFFCF9;
    padding: 4px 8px;   /* чтобы текст помещался */
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;     /* чтобы был поверх картинки */
}