@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../../public/fonts/PlayfairDisplay/PlayfairDisplay.ttf");
  font-display: swap;
}

.headline {
    font-family: PlayfairDisplay;
    font-size: 38px;
}

@media (max-width: 1100px){
  .headline {
      font-size: 34px;
  }
}