@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../../public/fonts/PlayfairDisplay/PlayfairDisplay.ttf");
  font-display: swap;
}

.section{
    margin-top: 75px;
}

.sectionCategory{
    margin-top: 75px;
    margin-bottom: 75px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.info div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btnPage{
    color: #3B2F2F;
    border: 2px solid #EADAC0;
    border-radius: 50%;
    width: 45px;
    height: 40px;
    background-color: #EADAC0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sectionDiv{
    display: flex;
    column-gap: 30px;
}

.sectionImg{
    width: 500px;
    height: 270px;
    object-fit: cover; 
    border-radius: 7px;
}

.sectionText{
    width: 50%;
}

.sectionText p{
    margin-top: 15px;
}

.sectionBtn{
    margin-top: 15px;
    color: #C76146;
    border: 2px solid #C76146;
    border-radius: 7px;
    padding: 0px 20px;
    height: 50px;
    background-color: #FFFCF8;
    display: flex;
    gap: 10px;
    align-items: center;
}